{% extends 'base.html.twig' %}
{% block title %}TOPISCINE - Estimation - Envoi{% endblock %}

{% block class1 %}{% endblock %}
{% block class2 %}border_section{% endblock %}
{% block class3 %}{% endblock %}


{% block body %}
    <div id="barre-devis" class="container-fluid mb-3 pt-2">
        <div class="row">
            <div class="col-md-12 text-center p-0 ">
                <h2>Faire une estimation</h2>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped bg-primary" role="progressbar" style="width: 100%"
                         aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
        </div>
    </div>


    <div id="container" class="container mb-5 mt-2 p-3 w-50 bg-transparent bg-gradient rounded">
        <div class="row">
            <div class="col-md-12 text-center mb-4">
                <h5>Formulaire d'envoi</h5>
            </div>
        </div>
        {{ form_start(devisForm) }}
            <div class="row mb-3">
                <div class="form-group col-md-6">
                    <label for="inputNom">Nom</label>
                    {{ form_widget(devisForm.nom) }}
                </div>
                <div class="form-group col-md-6">
                    <label for="inputPrenom">Prénom</label>
                    {{ form_widget(devisForm.prenom) }}
                </div>
            </div>
            <div class="row mb-3">
                <div class="form-group col-md-6">
                    <label for="inputEmail4">Email</label>
                    {{ form_widget(devisForm.email) }}
                </div>
                <div class="form-group col-md-6">
                    <label for="inputTel">Télephone</label>
                    {{ form_widget(devisForm.tel) }}
                </div>
            </div>
            <div class="row mb-3">
                <div class="form-group col-md-6">
                    <label for="selectForme">Ville</label>
                    {{ form_widget(devisForm.ville) }}
                </div>
                <div class="form-group col-md-6">
                    <label for="selectHauteur">Code postal</label>
                    {{ form_widget(devisForm.cp) }}
                </div>
            </div>
        <div class="text-center mt-5 ">
            {{ form_widget(devisForm.envoyer) }}
        </div>

        {{form_end(devisForm) }}
    </div>


{% endblock %}
